* {
  margin: 0;
  padding: 0;
  font-family: "Courier, monospace";
  box-sizing: border-box;
}


.fullscreen {
  background-color:  #B4FFEE;
  padding: 30px;
}

h1 {
  color: #48B6FA;
}

.unico {
  background-color: #78EFFA;
  display: flex;
  padding: 30px 20px;
  flex-direction: column;
  border-radius: 8px;
  row-gap: 10px;
  width: 70%;
}

.unico label {
  font-weight: 400;
  color: white;

}


.unico input, select{
padding: 10px 4px;
font-weight: 600;
border-radius: 6px;
border: none;
outline: none;
background-color: white;
color: black;
}

.container {
  align-items: center;
  padding: 20px 0 0 0;
  flex-direction: column;
  row-gap: 10px;
  display: flex;
}

.formulario{
row-gap: 10px;
row-gap: 10px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;

}

.form{
width: 100%;
row-gap: 10px;
display: flex;
flex-direction: column;
}


.final {
  color: white;
  background-color: #48B6FA;
  flex-direction: column;
  width: 50%;
  border-radius: 8px;
  align-items: center;
  padding: 30px 20px;
  display: flex;
}

#nome_final{
    color: black;
    font-weight: 700;
}

#idade_final, #sexo_final{
display: block;
color: black;
}

.one{
  padding-bottom: 10px;
  margin-bottom: 10px; 
  border-bottom: 1px solid black;
  flex-direction: column;
  display: flex;
  align-items: center;
  row-gap: 5px;
  

}

button{
  cursor: pointer;
}


#sexo_final{
font-weight: 400;
font-size: 16px;
}

#resultado{
  color: black;
  font-weight: 700;
  font-size: 96px;
}

.nomeIdade{
display: flex;
}

.pesoAltura{
  display: flex;
}

#altura_final, #peso_final{
  color: black;
}


#bntlim {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

#bntlim:hover {
  background: #F6F9FE;
  color: #48B6FA;
}

#bntlim:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

#bntlim:focus {
  outline: none;
  border: 2px solid #48B6FA;
}

#bntlim:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#bntlim:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

#bntlim:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#bntlim:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

#bntlim:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}


#bntcal {
  align-items: center;
  appearance: none;
  background-color: #48B6FA;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

#bntlim:hover {
  background: #F6F9FE;
  color: #48B6FA;
}

#bntcal:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

#bntcal:focus {
  outline: none;
  border: 2px solid white;
}

#bntcal:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#bntcal:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

#bntcal:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#bntcal:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

#bntcal:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}



